<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="bootstrap.php"
         colors="true"
         strict="false">

    <testsuites>
        <testsuite name="ha test suite">
            <directory>./</directory>
        </testsuite>
    </testsuites>
    <php>
        <const name="WEB_SERVER_HOST" value="localhost" />
        <const name="WEB_SERVER_PORT" value="3148" />
        <const name="WEB_SERVER_DOCROOT" value="./web" />
        <const name="WEB_SERVER_INDEXFILE" value="./web/dispatch.php" />
    </php>
</phpunit>